@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7FFED;
    text-align: center;
}

.finalpage-header {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: bolder;
    color: #181818;
    opacity: 0.8;
    text-align: center;
    padding-top: 7rem;
}

.qrcode {
    padding: 3%;
    text-align: center;
}

.bookmark-btn {
    padding: 0 0 3% 0;
    text-align: center;
}

.finalpage-button {
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/ 20px 'Poppins', sans-serif;
    position: relative;
    border-color: #4E7A6A;
    border-radius: 30px;
    background: #4E7A6A;
    background-clip: padding-box;
    color: #F7FFED;
    transition: background .6s ease;
}

.finalpage-button:hover {
    background: #F7FFED;
    background-clip: padding-box;
    border-color: #4E7A6A;
    border-radius: 30px;
    color: #413F3D;
}

.commentbar{
    font-weight: bolder;
    text-align: center;
}

#postcomment{
    margin-top: 1%;
    margin-bottom: 3%;
}

#new-comment {
    font-size: 20px;
    padding: 10px;
}
